.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100dvh;
    width: 100dvh;
    background-color: black;
}

.left {
    padding-left: 20px;
    height: 260px;
    width: 250px;
    background-color: white;
}

.left h1,
h3,
a {
    color: black;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 260px;
    width: 250px;
    background-color: rgba(255, 0, 0, 0.678);
    color: white;
}

.right label {
    color: white;
    font-size: xx-large;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}

.right input {
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.right button {
    height: 35px;
    width: 200px;
    font-size: larger;
    margin-top: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
}


.right button:hover {
    box-shadow: 3px 3px 5px black, -3px -3px 5px black;
}